.main-wrapper {
    margin: 4rem 0;
}
.button-group-wrapper > .btn {
    margin: 0 0.5rem 0 0;
}
.btn {
    font-weight: bold !important;
}
table tr td {
    vertical-align: middle;
}
.dp__input_wrap .dp__clear_icon {
    display: none;
    user-select: none;
}